@use '../abstracts/'as *;
@use 'sass:map';

.container,
.container-full {
  $padding: $container-padding-x;
  --#{$prefix}container-padding-x: #{$padding};
  --#{$prefix}container-padding-y: 0;
  width: 100%;
  padding-inline: calc(var(--#{$prefix}container-padding-x) * .5);
  margin-inline: auto;
}

@if $container-full-limit {
  .container-full {
    max-width: $container-full-max-width;
  }
}

@each $breakpoint,
$container-max-width in $container-max-widths {
  .container-#{$breakpoint} {
    @extend .container;
  }

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    %responsive-container-#{$breakpoint} {
      max-width: $container-max-width;
    }

    // Extend each breakpoint which is smaller or equal to the current breakpoint
    $extend-breakpoint: true;

    @each $name,
    $width in $grid-breakpoints {
      @if ($extend-breakpoint) {
        .container#{breakpoint-infix($name, $grid-breakpoints)} {
          @extend %responsive-container-#{$breakpoint};
        }

        // Once the current breakpoint is reached, stop extending
        @if ($breakpoint==$name) {
          $extend-breakpoint: false;
        }
      }
    }
  }

}